



body{
background-color: whitesmoke;
font-family: Arial, sans-serif;
background-image: url('front.jpg'); 
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100%;
}
h1{
    font-size:7;
    margin-bottom: 40px;
}
h2{
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
    margin-top: 15px;
}
h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    margin-top: 20px;
}
h4{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    text-shadow:0 0 5px rgb(169, 160, 7); 
}
.box1{
    height:150;
    width: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 220px;
    display: inline-block;
    margin-left: 260px;
    margin-top: 60px;
    background-image: url('box.jpeg'); 
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  }
  .box2{
    height:150;
    width: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 220px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 60px;
    background-image: url('box.jpeg'); 
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  }
  .box3{
    height:150;
    width: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 220px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 60px;
    background-image: url('box.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .box1 h {
    margin-top: 0;
    font-size: 25px;
  }

  .box1 p {
     font-size: small;
    margin-bottom: 5px;

  }
  .box2 h {
    margin-top: 0;
    margin-bottom:5px;
    font-size: 25px;
  }
  
  .box2 p {
    margin-bottom: 5px;
    font-size: small;
  }
  .box3 h {
    margin-top: 0;
    margin-bottom:5px;
    font-size: 25px;
  }
  
  .box3 p {
    margin-bottom: 5px;
    font-size: small;
  }
  .open-button {
    margin-top: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 55px;
  }


